<section class="dashboardContainer">
	<div class="welcomeText">
		<h2>Bienvenue sur votre espace personnel</h2>
	</div>
	<div class="card">
		<a href="/addproject">Ajouter un projet</a>
	</div>
	<div class="card">
		<a href="/modifyproject">Modifier un projet</a>
	</div>
	<div class="card">
		<a href="/delete">Supprimer un projet</a>
	</div>
</section>
