<section class="dashboardContainer">

	<div>
		<ul>
			{% if user.id %}
				<li><a href="/addproject">Ajouter un projet</a></li>
				<li><a href="/modifyproject">Ajouter un projet</a></li>
				<li><a href="/delete">Ajouter un projet</a></li>
			</ul>
		{% endif %}
	</div>


</section>
