{% extends "../base.html.twig" %}
{% block main %}
     
     <section class="firstBlock">
     <h1 class="hello">Bonjour ,</h1>
     <h2 class="presentation">Je m’appelle Téva Durif je suis en plein apprentissage en développement web.</h2>
     </section>
     
    
{% endblock %}