<div class="container">
	<h2>Ajouter un projet</h2>
	<form action="/submit_project" method="POST">
		<div class="form-group">
			<label for="titre">Titre du projet :</label>
			<input type="text" id="titre" name="title" required>
		</div>
		<div class="form-group">
			<label for="description">Description :</label>
			<textarea id="description" name="description" rows="4" required></textarea>
		</div>
		<div class="form-group">
			<label for="technologies">Technologies :</label>
			<input type="text" id="technologies" name="techno" required>
		</div>
		<div class="form-group">
			<label for="github">Github Link :</label>
			<input type="text" id="github" name="github" required>
		</div>
		<button type="submit">Ajouter</button>
	</form>
	

</div>
