<section class="block">
<section class="etSinon">
<h1 class="title">Et sinon ?</h1>
<p class="aboutText">Comment j'en suis arrivé là ? À force de discussion avec plusieurs personnes déjà dans ce milieu je m'y suis penché, essayer des petits projets seuls, suite à ça j'ai remarqué que j'accrocher vraiment, logiquement je me suis  penché vers ce milieu plus en profondeur</p>


</section>



<section class="three">
<img src="images/CVTHREE.png" alt="" class="aboutMe">
</section>
</section>