<section class="firstBlock">
	<div class="accueilText">

		<h1 class="hello">Bonjour ,</h1>
		<h2 class="presentation">Je m’appelle Téva Durif je suis en plein apprentissage en

			<span class="spanWhite">développement web.</span>
		</h2>
		<div class="socialsMedia">

			<img src="images/instagram.png" alt="" class="instagram">
			<img src="images/github2.png" alt="" class="github">
			<img src="images/whatsapp.png" alt="" class="whatsapp">
		</div>
	</div>
</section>
