<section class="carousel">
    <div class="scrollingText">
        <p class="prime">PRIME PRIME PRIME PRIME PRIME PRIME </p>
          <p class="prime">PRIME PRIME PRIME PRIME PRIME PRIME </p>
      
    </div>
</section>
