<section class="secondBlock">
<div class="mySkills">
<h1 class="skills">Compé<span id="spanWhiteTwo">tences.</span></h1>
<img class="languages" src="images/ALLICONS.png" alt="mes languages">
</div>






</section>