<section class="projectBlock">
<img src="images/plant.png" alt="" class="plant">
	<div class="boxProject">
		<h1 class='titleprojet'>Projets</h1>
	</div>
	<div class="projectsButt">
		<input id="puissance4" type="button" value="Puissance 4" class="myBtn">
		<input id="portfolio" type="button" value="Portfolio" class="myBtn">
	</div>
	<div class="projectsButtTwo">
		<input id="poke" type="button" value="Pokéfinder" class="myBtn">
		<input id="morpion" type="button" value="Morpion" class="myBtn">
	</div>


</section>
